<header class="masthead" style="background-image: url('../../images/banners/cand.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="open-sans custom-heading">Прием</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row pb-5">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview p-1">
				<a asp-controller="application" asp-action="afterFourthGrade">
					<h2 class="post-title bold">
						След 4. клас
					</h2>
					<h3 class="post-subtitle">
						Тук ще намерите всичко за приема след 4. клас
					</h3>
				</a>
			</div>
			<hr>
			<div class="post-preview pt-1">
				<a asp-controller="application" asp-action="afterSeventhGrade">
					<h2 class="post-title bold">
						След 7. клас
					</h2>
					<h3 class="post-subtitle">
						Тук ще намерите всичко за приема след 7. клас
					</h3>
				</a>
			</div>
			<hr>
			<div class="post-preview pt-1">
				<a asp-controller="application" asp-action="course">
					<h2 class="post-title bold">
						Курсове
					</h2>
				</a>
			</div>
			<hr>
			<div class="post-preview pt-1">
				<a asp-controller="application" asp-action="schoolPlan">
					<h2 class="post-title bold">
						Учебен план
					</h2>
				</a>
			</div>
			<hr>
		</div>
	</div>
</div>