<header class="masthead" style="background-image: url('../../images/banners/cand.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="open-sans custom-heading">Документи</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row pb-5">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview p-1">
				<a asp-controller="home" asp-action="ModelDocuments">
					<h2 class="post-title bold">
						Документи - образци
					</h2>
				</a>
			</div>
			<hr>
			<div class="post-preview pt-1">
				<a asp-controller="home" asp-action="NormDocuments">
					<h2 class="post-title bold">
						Нормативни документи
					</h2>
				</a>
			</div>
			<hr>
		</div>
	</div>
</div>