@{
	ViewData["Title"] = "Начало";
}

<main>
	<header class="masthead" style=" background-image: url('../images/banners/home.jpg') !important;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1><br></h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container p-2 pb-2">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-preview">
					<a>
						<h2 class="post-title open-sans bold">
							Добре дошли
						</h2>
						<br />
						<h3 class="open-sans">
							Тук, в сайта на Профилирана природо-математическа гимназия "Никола Обрешков", може да намерите всичко свързано с училището и всичко нужно на учениците и родителите.
						</h3>
						<br />
					</a>
				</div>
			</div>
		</div>
	</div>
</main>