@model List<Employee>

<header class="masthead" style="background-image: url('../../images/banners/leading.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="open-sans custom-heading">Администрация</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			@foreach (Employee employee in Model)
			{
				<div class="post-preview">
					<a>
						<h2 class="post-title bold">
							@employee.FirstName @employee.MiddleName @employee.LastName
						</h2>
						<h3 class="post-subtitle">
							@employee.JobDescription
						</h3>
					</a>
				</div>
				<hr>
			}
		</div>
	</div>
</div>