@{
	ViewData["Title"] = "Състав";
}

<main>
	<header class="masthead" style=" background-image: url('../../images/banners/teachers.png') !important;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1 class="open-sans" style="font-weight: 800; font-size: 70px;">Състав</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<article>
		<div class="container pb-3">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-preview">
						<a href="leading.html">
							<h2 class="post-title text-center">
								Ръководство
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="administration.html">
							<h2 class="post-title text-center">
								Администрация
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="specialists.html">
							<h2 class="post-title text-center">
								РНИКТ и ПС
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="headTeachers.html">
							<h2 class="post-title text-center">
								Главни учители
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="teachers.html">
							<h2 class="post-title text-center">
								Учители
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="board.html">
							<h2 class="post-title text-center">
								Настоятелство
							</h2>
						</a>
					</div>
					<hr>
					<div class="post-preview">
						<a href="council.html">
							<h2 class="post-title text-center">
								Обществен съвет
							</h2>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>
</main>