<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Web</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/custom.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow open-sans bold">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ППМГ "Никола Обрешков"</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
				<div class="collapse navbar-collapse text-uppercase" id="navigate">
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item p-1">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
							</li>
							<li class="nav-item dropdown text-dark p-1">
								<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									За училището
								</a>
								<div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
									<a class="dropdown-item open-sans bold item-small"  asp-controller="History" asp-action="Index">История</a>
									<a class="dropdown-item open-sans bold item-small" asp-controller="Staff" asp-action="Index">Състав</a>
								</div>
							</li>
							<li class="nav-item p-1">
								<a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Index">Съобщения</a>
							</li>
							<li class="nav-item p-1">
								<a class="nav-link text-dark" asp-area="" asp-controller="Application" asp-action="Index">Прием</a>
							</li>
							<li class="nav-item p-1">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Контакти</a>
							</li>
						</ul>
					</div>
				</div>
            </div>
        </nav>
    </header>
	<div>
		@RenderBody()
	</div>

    <footer class="border-top footer text-muted">
        <div class="container align-items-center text-center">
            &copy; 2022 - pmgkk.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
