<header class="masthead" style="background-image: url('../../images/banners/cand.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1 class="open-sans custom-heading">Профил и паралелки</h1>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row pb-5">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="post-preview p-1">
				<a>
					<h2 class="post-title bold">
						Профили
					</h2>
					<h3 class="post-subtitle">
						Училището е с природо-математически профил.<br />
						Форма на обучение - дневна.
					</h3>
				</a>
			</div>
			<div class="post-preview p-1">
				<a>
					<h2 class="post-title bold">
						Паралелка
					</h2>
					<h3 class="post-subtitle">
						Пети клас - две паралелки по 26 ученици<br />
						Шести клас - две паралелки по 26 ученици<br />
						Седми клас - две паралелки по 26 ученици<br />
						<br />
						Осми - дванадесети клас - по четири паралелки по 26 ученици
					</h3>
				</a>
			</div>
		</div>
	</div>
</div>