@{
	ViewData["Title"] = "Контакти";
}

<main>
	<header class="masthead" style=" background-image: url('../../images/banners/newHome.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1 class="open-sans" style="font-weight: 800; font-size: 70px;">Контакти</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<article>
		<div class="container">
				<div class="lora pt-3 pb-4" style="font-size: 20px;">
					<div class="row">
						<div class="col" style="padding-top: 6vw">
							<h2 class="section-heading">Адрес на гимназията</h2>
							<p>
								Улица „Орешака“ 2, град Казанлък, п.к. 6100
							</p>
							<h2 class="section-heading">Tелефон за връзка</h2>
							<p>
								0431 / 6 23 34<br />
								0876637269
							</p>
							<h2 class="section-heading">Имейл</h2>
							<p>
								pmgkk@pmgkk.com
							</p>
						</div>
						<div class="col pt-2">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d663.4007123628508!2d25.39398449789872!3d42.621803570364875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a8540f3649302f%3A0x5196bb6a32f7750e!2z0J_Qn9Cc0JMgItCd0LjQutC-0LvQsCDQntCx0YDQtdGI0LrQvtCyIg!5e0!3m2!1sbg!2sbg!4v1654538667638!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>
	</article>
</main>